# Virtual Environments
venv/
WindowsVenv/

# PyInstaller Build Output
build/
dist/
*.spec

# Runtime Files
configMain.json
motion.jpg

# __pycache__ and cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

videos/
.videos/*
videos/*